:root {
  --primary-color: #6478ff;
  --white-color: #ffffff;
  --gray-color: #ccc;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

a, a:hover { 
  text-decoration: none !important;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer div {
  padding-top: 12px;
}

.footer > div > li:first-child {
  font-weight: 600;
  font-size: 18px;
}

.footer div p {
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
  color: var(--black-color);
  margin-bottom: 10px;
  width: 120px;
  height: 30px;
  padding: 4px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.list_member {
  list-style: none;
  color: var(--white-color);
  padding: 6px;
}

.list_member li {
  margin-bottom: 12px;
  font-size: 14px;
}

.list_member li a {
  color: var(--white-color);
}