:root {
  --primary-color: #c90101;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

a, a:hover { 
  text-decoration: none !important;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > p {
  font-size: 3em;
  font-weight: bold;
}


.main_title {
  color : var(--white-color);
  font-size: 102px;
  text-shadow: 0 0 12px #000000;
  cursor: pointer;
  font-family: 'Monoton', cursive;
}

.list_menu {
  display: flex;
  list-style: none;
  align-self: flex-start;
  justify-content: center;
}

.list_menu p a {
  font-size: 12px;
  margin: 0 10px 0 10px;
  color: var(--white-color);
}

@media screen and (max-width: 960px) {
  .header {
    flex-direction: column;
  }

  .list_menu {
    align-self: center;
  }
}

.navbar {
  display: flex;
  background: #c90101;
  list-style: none;
  justify-content: center;
  font-size: 16px;
}

.navbar li {
  font-weight: bold;
}

.navbar li a {
  color: var(--white-color);
}

.search_box{
  position: relative;
}

.search_box #search{
  width: 200px;
  height: 40px;
  background: #F0F0F0;
  border: none;
  font-size: 12pt;
  float: left;
  padding-left: 40px;
  border-radius: 3px;
}

.icon{
  position: absolute;
  top: 50%;
  margin-left: 10px;
  margin-top: 6px;
  z-index: 1;
  color: #c90101;
  border: 0;
  outline: none;
}

.search_box #search:checked, .search_box #search:focus, .search_box #search:active {
  outline: none;
  background: var(--white-color);
}

