:root {
    --primary-color: #6478ff;
    --white-color: #ffffff;
    --gray-color: #ccc;
    --black-color: #000000;
  }

  @media screen and (max-width: 1320px) {
    .menu_container {
      display: none;
    }
    .order_list {
      display: none;
    }

    .content {
      width: 100%;
    }
  }

ul, li {
    list-style: none;
}

.listBox {
    display: flex;
}

.order_list {
    font-size: 24px;
    font-weight: 600;
}

.text_area ul a {
    font-size: 18px;
    font-weight: bold;
    color: var(--black-color);
}

.text_area ul li{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.text_area ul li a{
    font-size: 14px;
    font-weight: 500;
}

.hover_area {
	position: relative;
    cursor: pointer;
}
.movie_title a {
    cursor: pointer;
}

.caption {
	width: 203px;
	height: 290px;
	background-color: var(--black-color);
	position: absolute;
	top: 0;
	left: 0;
	color: var(--white-color);
	opacity: 0;
	transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px;
}

.caption a {
	width: 100%;
	height: 100%;
}

.caption p {
	color: var(--white-color);
    font-size: 12px;
	text-decoration: none;
	padding: 8px;
	display: inline-block;
}

.caption p:hover {
	background-color: var(--black-color);
	border-color: transparent;
}

.hover_area:hover .caption {
	opacity: 1;
}

.list_search_box {
    position: relative;
}

.list_search_box #search{
    width: 200px;
    height: 40px;
    background: #F0F0F0;
    border: none;
    font-size: 12pt;
    float: left;
    padding-left: 40px;
    border-radius: 3px;
  }
  
.list_search_icon{
    position: absolute;
    color: var(--black-color);
    background: var(--white-color);
    top: 20%;
    border: 0;
    outline: none;
    font-size: 20px;
  }
  
  .list_search_box #search:checked, .list_search_box #search:focus, .list_search_box #search:active {
    outline: none;
    background: var(--white-color);
  }

  /* 하단 검색창 */

  .int-area {
    width: 250px;
    position: relative;
    margin-top: 10px;
  }
  
  .int-area:first-child {
    margin-top: 0px;
  }
  
  .int-area input {
    width: 100%;
    padding: 15px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray-color);
    color: var(--black-color);
    outline: none;
  }
  
  .int-area label {
    position: absolute;
    left: 10px;
    top: 6px;
    font-size: 14px;
    color: var(--black-color);
    transition: top .5s ease;
  }
  
  .int-area input:focus + label,
  .int-area input:valid + label {
    font-size: 12px;
    color: var(--black-color);
    transition: .5s ease;
    opacity: 0;
  }

  .select_box {
    width: 80px;
    height: 45px;
    justify-content: center;
    border-bottom: 2px solid var(--gray-color);
    border-radius: 6px;
    outline: none;
    vertical-align: middle;
    font-size: 14px;
    text-align-last: center;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: var(--black-color);
    font-weight: 600;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 12px;
  }
  
  .pagination a.active {
    background-color: var(--primary-color);
    color: white;
  }
  
  .pagination a:hover:not(.active) {
      background-color: var(--gray-color);
  }

  .recommend_area {
      font-weight: 600;
  }

  .recommend_area p {
      font-size: 24px;
  }

  .recommend_point {
      margin-bottom: 6px;
  }

  /* chart */

  #chartdiv {
    width: 100%;
    height: 240px;
  }

