{% for survey in surveylist %}
<div onclick="location.href='/recommend/survey/{{survey.id}}'">
	아이디:{{survey.id}}<br/>
	설문자:{{survey.user}}<br/>
	선호장르:{{survey.genre}}<br/>
	선호상영시간:{{survey.playtime}}<br/>
	선호개봉시기:{{survey.date}}<br/>
	선호연령등급:{{survey.age}}<br/>
	네티즌평점중요도:{{survey.importance_npro}}<br/>
	전문가평점중요도:{{survey.importance_pro}}<br/>
	성별평점중요도:{{survey.importance_gender}}<br/>
	연령평점중요도:{{survey.importance_age}}<br/>
	감상포인트순서:{{survey.importance_point}}<br/>
	결과리스트:{{survey.result_list}}<br/>
	=================================================
</div>
{%endfor%}