{% extends "common/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'common/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'common/css/mypage.css' %}">
	
	<script>
        function ask_delete(){
            if(confirm('정말 탈퇴하시겠습니까?')){
                document.getElementById('delete_form').submit();
            }
        }
    </script>
</head>
    <div class="container my-3">
        <div class="row my-5">
            <div class="col-md-2 mypage_menu mb-5">
                <button type="button" class="lgBtn primaryBtn white_text" onclick="location.href='{% url 'common:mypage' %}'">
                    <span>마이페이지</span>
                </button>
                <button type="button" class="lgBtn primaryBtn white_text" onclick="location.href='{% url 'common:changeinfo' %}'">
                    <span>개인 정보 수정</span>
                </button> 
                <form id="delete_form" action="{% url 'common:delete' %}" method="POST">
                {% csrf_token %}
                    <button type="button" class="lgBtn primaryBtn white_text" onclick="ask_delete()">
                        <span>회원 탈퇴<span>
                    </button> 
                </form>
            </div>
            <div class="col-md-8"> 
                <div class="title mb-5 white_title">개인 정보 수정</div>
                <div class="flexBox">                
                    <form method="post" class="post-form" onsubmit="return check_id();" name="check">
                        {% csrf_token %}
                        {% include "common/form_errors.html" %}
                        <div class="form-group">
                            <input type="text" class="form-control inputBox" name="username" id="username"
                                value="{{ form.username.value|default_if_none:'' }}" placeholder="변경할 username을 입력해주세요." required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control inputBox" name="email" id="email"
                                value="{{ form.email.value|default_if_none:'' }}" placeholder="기존 email 값" required>
                        </div>
                        <div class="form-group d-flex justify-content-evenly align-items-center changeinfo_area pt-2 bg-light rounded-3">
                            <label class="radio_cursor"><input type="radio" name="gender" id="gender" value="M">남성</input></label>
                            <label class="radio_cursor"><input type="radio" name="gender" id="gender" value="W">여성</input></label>
                        </div>
                        <div class="form-group flexBox align-items-center changeinfo_area pt-2 bg-light rounded-3">
                            <label class="radio_cursor mr-2"><input type="radio" name="age" id="age" value="10"><span>10대</span></label>
                            <label class="radio_cursor mr-2"><input type="radio" name="age" id="age" value="20"><span>20대</span></label>
                            <label class="radio_cursor mr-2"><input type="radio" name="age" id="age" value="30"><span>30대</span></label>
                            <label class="radio_cursor mr-2"><input type="radio" name="age" id="age" value="40"><span>40대</span></label>
                            <label class="radio_cursor mr-2"><input type="radio" name="age" id="age" value="50"><span>50대 이상</span></label>
                        </div>
                        <div class="flexBox">
                            <button type="submit" class="primaryBtn white_text infoBtn">회원 정보 수정</button>
                        </div>
                        <div class="flexBox">
                            <button type="button" class="whiteBtn primary_text infoBtn" onclick="location.href='{% url 'common:changepw' %}'">비밀번호 변경</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <script>
    // username, email 빈칸 검사
    function check_id() {
        if(!document.check.username.value){
            window.alert("변경할 username을 입력해주세요.")
            document.check.username.focus();
            return false;
        }

        if(!document.check.email.value){
            window.alert("이메일을 입력해주세요.")
            document.check.email.focus();
            return false;
        }          
    }
    
    $(":radio[name='gender'][value={{ user.gender }}]").attr('checked', true);
    $(":radio[name='age'][value={{ user.age }}]").attr('checked', true);

    </script>
{% endblock %}