<!-- footer -->
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'common/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'common/css/footer.css' %}">
</head>
<footer>
	<hr></hr>
	<ul class="list_member">
		<div class="container footer">
			<div>
				<a href=""><p>1:1 문의</p></a>
				<a href=""><p>FAQ</p></a>
				<a href=""><p>Q&A</p></a>
			</div>
			<div>
				<li>Team Movie-Cok</li>
				<li><i class="far fa-paper-plane"></i> send a mail?</li>
				<li>강병현 <a href="mailto: justone702@gmail.com">justone702@gmail.com</a></li>
				<li>이호준 <a href="mailto: developer.hojun@gmail.com">developer.hojun@gmail.com</a></li>
			</div>
		</div>
	</ul>
</footer>