<!-- footer -->
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'common/css/footer.css' %}">
</head>
<footer>
	<ul class="list_member">
		<div class="container footer">
			<div>
				<a href=""><p>1:1 문의</p></a>
				<a href=""><p>FAQ</p></a>
				<a href=""><p>Q&A</p></a>
			</div>
			<div>
				<li>Team_Sulgolae</li>
				<li>강병현 <a href="mailto: justone702@gmail.com">justone702@gmail.com</a></li>
				<li>경혜안 <a href="mailto: hean961103@gmail.com">hean961103@gmail.com</a></li>
				<li>박나연 <a href="mailto: nypeffect@gmail.com">nypeffect@gmail.com</a></li>
				<li>이호준 <a href="mailto: developer.hojun@gmail.com">developer.hojun@gmail.com</a></li>
			</div>
		</div>
	</ul>
</footer>