{% extends "common/base.html" %}
{% block content %}
{% load static %}
<head>
	<link rel="stylesheet" href="{% static 'common/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'common/css/mypage.css' %}">

    <script>
        function ask_delete(){
            if(confirm('정말 탈퇴하시겠습니까?')){
                document.getElementById('delete_form').submit();
            }
        }
    </script>
</head>
    <div class="container my-3">
        <div class="row my-5">
            <div class="col-2">
                <button type="button" class="menuBox" onclick="location.href='{% url 'common:mypage' %}'">마이페이지<i class="fas fa-angle-right"></i></button>
                <button type="button" class="menuBox" onclick="location.href='{% url 'common:changeinfo' %}'">개인 정보 수정<i class="fas fa-angle-right"></i></button> 
                <button type="button" class="menuBox" onclick="">예제1<i class="fas fa-angle-right"></i></button>
                <form id="delete_form" action="{% url 'common:delete' %}" method="POST">
                {% csrf_token %}
                    <button type="button" class="menuBox" onclick="ask_delete()">회원 탈퇴<i class="fas fa-angle-right"></i></button> 
                </form>
                {% comment %} li -> button 바꿔볼 것 {% endcomment %}
                {% comment %} @media 로 기존 메뉴바 레이아웃을 수정하거나 햄버거로 바꿀 필요{% endcomment %}
            </div>
            <div class="col-10">
                <div class="col-10">
                </div>
            </div>
        </div>
    </div>
{% endblock %}